.DataCollect {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 1040px;
    background: rgb(15, 39, 61);
    background-size: cover;
	transform-origin: left top 0;
    color: #eeeeee;
    font-size: 14px;
    .header {
        width: 100%;
        height: 90px;
        background: url('../../../assets/img/satistics2.png');
        background-size: 100% 100%;
        line-height: 80px;
        position: relative;
        .title {
            background: linear-gradient(to top, #34bfc6, #ffffff);
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
            font-size: 34px;
            letter-spacing:2px;
        }
        .header_left {
            width: 35%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
            .zll-botton {
                width: 100px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                float: left;
                margin: 0;
                margin-right: 10px;
                font-size: 14px;
            }
        }
        .header_right {
            width: 35%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
            line-height: 40px;
            .TimeForm {
                // color: #eeeeee;
            }
            .user {
                width: 40%;
                text-align: center;
                cursor: pointer;
                position: relative;
                &:hover {
                    .loginOut {
                        display: block;
                    }
                }
                .loginOut {
                    display: none;
                    background: rgba(87, 129, 129, 0.5);
                    position:absolute;
                    width: 120px;
                    text-align: center;
                    right: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
    .main_contain {
        padding: 0 200px;
        .part-1 {
            display: flex;
            margin-top: 50px;
            .nav-main {
                width: 37%;
                &.nav-main1 {
                    width: 26%;
                    .input_style { 
                        min-width: 200px;
                    }
                }
                .input_style {
                    display: flex;
                    align-items: center;
                    margin: 0 auto 24px;
                    margin-right: 0;
                    margin-left: 10px;   
                    height: 30px;
                    line-height: 30px;
                    width: 80%;
                    min-width: 300px;
                    .left {
                        width: 120px;
                        height: 30px;
                        line-height: 30px;
                        text-align: right;
                        padding-right: 15px;
                        color: #a7a7a7;
                    }
                    .zll-botton {
                        width: calc(100% - 120px);
                        height: 30px;
                        line-height: 30px;
                        padding: 0;
                        &.bj {
                            background: #ff4949;
                        }
                    }
                    .item {
                        width: calc(100% - 120px);
                        display: flex;
                        .right1 {
                            margin: 0 10px;
                        }
                    }
                    .right {
                        width: calc(100% - 120px);
                        min-width: 28px;
                        text-align: center;
                        color: #78f7fd;
                        border: 1px solid #7d7a7a;
                        border-radius: 5px;
                        height: 30px;
                        line-height: 28px;
                        overflow: hidden;
                        &.noBorder {
                            border: 0;
                        }
                        &.position {
                            display: flex;
                            .item1 {
                                text-align: right;
                                width: 80px;
                                padding-right: 5px
                            }
                            .item2 {
                                text-align: right;
                                width: 80px;
                            }
                            .split {
                                width: 18px;
                                text-align: center;
                            }
                        }
                        .nav {
                            width: calc(33.33% - 10px);
                            text-align: center;
                            float: left;
                            color: #a7a7a7;
                            margin-right: 10px;
                        }
                        &.sh {
                            width: 210px;
                            min-width: 150px;
                            border: 1px solid #87c04d;
                            height: 30px;
                            line-height: 30px;
                            border-radius: 30px;
                            padding-left: 3px;
                            padding-right: 3px;
                            @keyframes twinkling{ 
                                0%, 50%{ 
                                    opacity: 0; 
                                } 
                                51%,100%{ 
                                    opacity: 1; 
                                } 
                            }
                            .share {
                                color: #080d29;
                                background: #87c04d;
                                text-align: center;
                                width: 100%;
                                height:22px;
                                // height: 22px;
                                // line-height: 22px;
                                border-radius: 20px;
                                margin-top: 3px;
                                animation: twinkling 1s infinite linear;
                            }
                        }
                    }
                }
            }
        }
        .part-2 {
            margin-top: 50px;
            .nav-main {
                height: 30px;
                line-height: 30px;
                display: flex;
                align-items: center;
                text-align: center;
                margin: 0 auto 20px;
                color: #a7a7a7;
                .right {
                    text-align: center;
                    color: #78f7fd;
                    border: 1px solid #7d7a7a;
                    border-radius: 5px;
                    height: 30px;
                    line-height: 28px;
                    overflow: hidden;
                }
                .nav1,.nav2 {
                    width: 20%;
                    .nav {
                        width: 60%;
                        margin: 0 auto;
                        margin-right: 0;
                    }
                }
                .nav3 {
                    width: 60%;
                    .nav {
                        width: 90%;
                        margin: 0 auto;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}