.DataCollect {
    width: 100%;
    height: 100%;
    min-height: 1040px;
    background: url('../../../assets/img/bg.png');
    background-size: cover;
	transform-origin: left top 0;
    color: #eeeeee;
    font-size: 14px;
    .header {
        width: 100%;
        height: 90px;
        background: url('../../../assets/img/satistics2.png');
        background-size: 100% 100%;
        line-height: 80px;
        position: relative;
        .title {
            background: linear-gradient(to top, #34bfc6, #ffffff);
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
            font-size: 34px;
            letter-spacing:2px;
        }
        .header_left {
            width: 35%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
            .zll-botton {
                width: 20%;
                height: 30px;
                line-height: 30px;
                padding: 0;
                float: left;
                margin-right: 30px;
                font-size: 14px;
            }
        }
        .header_right {
            width: 35%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: flex-end;
            line-height: 40px;
            .TimeForm {
                // color: #eeeeee;
            }
            .user {
                width: 40%;
                text-align: center;
                cursor: pointer;
                position: relative;
                &:hover {
                    .loginOut {
                        display: block;
                    }
                }
                .loginOut {
                    display: none;
                    background: rgba(87, 129, 129, 0.5);
                    position:absolute;
                    width: 120px;
                    text-align: center;
                    right: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
    .main_contain {
        padding: 0 20px;
        .part-1 {
            display: flex;
            margin-top: 50px;
            .nav-main {
                width: 33.33%;
                .input_style {
                    display: flex;
                    align-items: center;
                    margin: 0 auto 25px;
                    height: 35px;
                    line-height: 35px;
                    width: 80%;
                    .left {
                        width: 120px;
                        height: 35px;
                        line-height: 35px;
                        text-align: right;
                        padding-right: 15px;
                        color: #a7a7a7;
                    }
                    .zll-botton {
                        width: calc(100% - 120px);
                        height: 30px;
                        line-height: 30px;
                        padding: 0;
                        &.bj {
                            background: #ff4949;
                        }
                    }
                    .right {
                        width: calc(100% - 120px);
                        .nav {
                            width: calc(33.33% - 10px);
                            text-align: center;
                            float: left;
                            color: #a7a7a7;
                            margin-right: 10px;
                        }
                        &.sh {
                            border: 2px solid #13ce66;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 3px;
                            border-radius: 30px;
                            @keyframes twinkling{ 
                                0%{ 
                                    opacity: 0; 
                                } 
                                100%{ 
                                    opacity: 1; 
                                } 
                            }
                            .share {
                                color: #ffffff;
                                background: #13ce66;
                                text-align: center;
                                height: 20px;
                                line-height: 20px;
                                border-radius: 20px;
                                margin-top: 3px;
                                animation: twinkling 1s infinite;
                            }
                        }
                    }
                }
            }
        }
        .part-2 {
            margin-top: 50px;
            .nav-main {
                height: 35px;
                line-height: 35px;
                display: flex;
                align-items: center;
                text-align: center;
                margin: 0 auto 25px;
                color: #a7a7a7;
                .nav1,.nav2 {
                    width: 25%;
                    .nav {
                        width: 80%;
                        margin-left: 20%;
                    }
                }
                .nav3 {
                    width: 50%;
                    .nav {
                        width: 80%;
                    }
                }
            }
        }
    }
}